.Rproj.user
.Rhistory
.RData
.Ruserdata
/*
!src
!results_1_assay_necromass_properties.Rmd
!results_2_litterbag.Rmd
!results_3_soil_isotopes.Rmd
!results_5_plant_biomass.Rmd
!results_6_plant_isotopes_end.Rmd